

body {
  margin: 0;
  padding: 0;
  width: 160px;
  /*min-height: 80px;*/
  -webkit-font-smoothing: antialiased;
}

a:focus {
  outline: none;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.header {
  width: 100%;
  height: 30px;
  padding-top: 6px;
  background-color: #252f58;
  color: white;
  font-size: 1.25rem;
}

.button {
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
  border-color: #252f58;
  border-style: none;
  padding: 6px 15px 8px;
  text-transform: lowercase;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  background-color: #252f58;
  color: #fff;
}

.login {
  margin: 42px 13px;
}

.accounts {
  text-align: left;
  margin: 6px;
}

.bots {
  text-align: left;
  margin: 6px;
}

.learn {
  margin: 6px;
  text-align: left;
  float: left;
}

a.logout {
  margin: 6px;
  text-align: right;
  float: right;
}