
/* Colors. */

.bg-grey {
  background-color: #eaeaea;
}

.grey {
  color: #eaeaea;
}

.bg-red {
  background-color: #8b3232;
}

.red {
  color: #8b3232;
}

.hover-bg-orange:hover {
  background-color: #da8c5e;
}

.bg-blue {
  background-color: #252f58;
}

.blue {
  color: #252f58;
}

.bg-brown {
  background-color: #8c6129;
}

.brown {
  color: #8c6129;
}
