
/* Colors. */

.bg-grey {
  background-color: #d8d8d8;
}

.grey {
  color: #d8d8d8;
}

.bg-red {
  background-color: #8b3232;
}

.red {
  color: #8b3232;
}

.bg-blue {
  background-color: #252f58;
}

.blue {
  color: #252f58;
}

.bg-brown {
  background-color: #8c6129;
}

.brown {
  color: #8c6129;
}
